@mixin ui-rounded-none {
  border-radius: none;
}

@mixin ui-rounded-1 {
  border-radius: 0.25rem;
}

@mixin ui-rounded-2 {
  border-radius: 0.375rem;
}

@mixin ui-rounded-3 {
  border-radius: 0.5rem;
}

@mixin ui-rounded {
  border-radius: 50%;
}
