$ui-badge-black-text: $black;
$ui-badge-black-bg: $gray-100;

$ui-badge-blue-text: $blue-400;
$ui-badge-blue-bg: $blue-10;

$ui-badge-green-text: $green-400;
$ui-badge-green-bg: $green-50;

.ui-badge {
  display: inline-flex;

  align-items: center;
  justify-content: center;

  @include ui-px-3;
  @include ui-py-2;

  border-radius: 10px;

  font-size: 0.75rem;
  font-weight: 600;

  &_black {
    color: $ui-badge-black-text;
    background-color: $ui-badge-black-bg;
  }

  &_blue {
    color: $ui-badge-blue-text;
    background-color: $ui-badge-blue-bg;
  }

  &_green {
    color: $ui-badge-green-text;
    background-color: $ui-badge-green-bg;
  }
}
