$ui-avatar-badge-border: $gray-150;
$ui-avatar-badge-bg: $gray-100;
$ui-avatar-badge-text: $gray-450;

.ui-avatar {
  @include ui-flex-fixed;

  border: 1px solid $ui-avatar-badge-border;

  background-color: $ui-avatar-badge-bg;

  &__img {
    @include ui-flex;
    @include ui-flex-fixed;
    @include ui-size(100%);
  }

  &__badge {
    font-weight: 500;

    color: $ui-avatar-badge-text;
  }

  &-s16 {
    @include ui-size(1rem);

    font-size: 0.75rem;
    line-height: 1rem;
    border-radius: 0.125rem;
  }

  &-s24 {
    @include ui-size(1.5rem);

    font-size: 0.75rem;
    line-height: 1rem;
    border-radius: 0.25rem;
  }

  &-s32 {
    @include ui-size(2rem);

    font-size: 0.875rem;
    line-height: 1rem;
    border-radius: 0.25rem;
  }

  &-s44 {
    @include ui-size(2.75rem);

    font-size: 1.125rem;
    line-height: 1.5rem;
    border-radius: 0.25rem;
  }

  &-s48 {
    @include ui-size(3rem);

    font-size: 1.1875rem;
    line-height: 1.5rem;
    border-radius: 0.5rem;
  }

  &-s56 {
    @include ui-size(3.5rem);

    font-size: 1.1875rem;
    line-height: 1.5rem;
    border-radius: 0.5rem;
  }

  &-s64 {
    @include ui-size(4rem);

    font-size: 1.75rem;
    line-height: 2rem;
    border-radius: 0.5rem;
  }

  &-s96 {
    @include ui-size(6rem);

    font-size: 2.75rem;
    line-height: 3.25rem;
    border-radius: 0.5rem;
  }

  &-s128 {
    @include ui-size(8rem);

    font-size: 2.75rem;
    line-height: 3.25rem;
    border-radius: 0.5rem;
  }
}
