#theme[data-theme-mode="light"] {
  --color-ui-toggle-bg: var(--color-gray-350);
  --color-ui-toggle-checked-bg: var(--color-green-400);

  --color-ui-toggle-icon-bg: var(--color-white);

  --color-ui-toggle-icon-fill: var(--color-gray-350);
  --color-ui-toggle-checked-icon-fill: var(--color-green-400);

  --color-ui-toggle-spinner-primary: var(--color-white);
  --color-ui-toggle-spinner-secondary: var(--color-gray-300);

  --color-ui-toggle-checked-spinner-primary: var(--color-white);
  --color-ui-toggle-checked-spinner-secondary: var(--color-green-300);
}

.ui-toggle {
  position: relative;

  width: 3rem;
  height: 1.5rem;

  background-color: var(--color-ui-toggle-bg);

  border-radius: 0.75rem;

  transition: all 0.4s ease;

  border: none;

  padding: 0;

  &__icon {
    display: inline-flex;

    position: absolute;

    top: 0.125rem;
    left: 0.125rem;

    --size: 1.25rem;

    width: var(--size);
    height: var(--size);

    border-radius: 50%;

    background-color: var(--color-ui-toggle-icon-bg);

    transition: all 0.2s ease !important;

    align-items: center;
    justify-content: center;

    & > * {
      --size: 0.625rem;

      width: var(--size);
      height: var(--size);

      fill: var(--color-ui-toggle-icon-fill);
    }
  }

  &:hover,
  &:disabled {
    background-color: var(--color-ui-toggle-bg) !important;
  }

  &:disabled {
    opacity: 0.4;
  }

  &_checked {
    background-color: var(--color-ui-toggle-checked-bg);

    & > .ui-toggle__icon {
      transform: translateX(1.5rem);

      & > * {
        fill: var(--color-ui-toggle-checked-icon-fill);
      }
    }

    &:hover,
    &:disabled {
      background-color: var(--color-ui-toggle-checked-bg) !important;
    }

    & > .ui-loading {
      & > .ui-loading__spinner {
        border-color: var(
          --color-ui-toggle-checked-spinner-secondary
        ) !important;
        border-top-color: var(
          --color-ui-toggle-checked-spinner-primary
        ) !important;
      }
    }
  }

  & > .ui-loading {
    & > .ui-loading__spinner {
      border-color: var(--color-ui-toggle-spinner-secondary);
      border-top-color: var(--color-ui-toggle-spinner-primary);
    }
  }
}
